<div class="container">
  <div class="nav">
    <ul>
      <li style="border-bottom: 1px solid #5C5C5C;"><a href="#home"></a>Home</li>
      <li><a href="#service"></a>Service</li>
      <li><a href="#news"></a>News</li>
      <li style="border-bottom: 1px solid #5C5C5C;"><a href="#blog"></a>Blog</li>
      <li><a href="#contact"></a>Contact</li>
    </ul>
  </div>
  <div class="body-content">
    <div class="img">
      <div>
        <img src="../assets/images/logoNCC 1.png" alt="logo">
      </div>
    </div>
    <div class="biggest-content">
      <label class="title">Lorem ipsum dolor sit asmet?</label>
      <div style="display: flex; justify-content: center;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique consequat placerat. Vestibulum auctor
          pellentesque sem, eu posuere erat hendrerit quis. Maecenas vel consequat turpis. Nam facilisis, ligula in mattis
          sodales, augue justo tristique nulla, sed lacinia ante eros ut mi. Morbi vitae diam augue. Aliquam vel mauris a
          nibh auctor commodo. Praesent et nisi eu justo eleifend convallis. Quisque suscipit maximus vestibulum.
          Phasellus congue mollis orci, sit amet luctus augue tristique eu. Donec vulputate odio neque, sed semper turpis
          pellentesque a.</p>
      </div>
    </div>
    <div class="child-content">
      <div class="column">
        <app-post></app-post>
      </div>
      <div class="column">
        <app-post></app-post>
      </div>
      <div class="column">
        <app-post></app-post>
      </div>
    </div>
  </div>
 
</div>